body {
  background-color: #d2d4e9;
  margin: 0;
  padding: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-container {
  background-color: rgb(10, 5, 85);
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#form-container {
  background-color: #c4c5d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 350px;
  border: 3px solid rgb(153, 151, 151);
  border-radius: 10px;
  margin-top: 10px;
}

#list-container {
  width: 1400px;
  margin-top: 20px;
  margin-bottom: 10px;
  /* border: 3px solid rgb(153, 151, 151);
  border-radius: 10px; */
}

.titList {
  font-family: 'Roboto';
  font-size: 26px;
  text-align: center;
}
