table {
  background-color: ghostwhite;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
}

thead {
  background-color: rgb(19, 19, 121);
  border-bottom: solid 4px rgb(61, 61, 223);
  color: snow;
}

tr:nth-child(even) {
  background-color: #bbb;
}

tr:hover td {
  background-color: #4ca1b8;
  color: white;
}
