.formData {
  width: 100%;
  width: 450px;
  margin: 20px 0 10px 0;
}

.data {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 16px;
}

.formLabel {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-align: right;
  margin-bottom: 8px;
  width: 75px;
}

.inputData {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 280px;
  height: 15px;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.buttonSave {
  width: 45%;
  margin: auto;
  padding: 10px;
  background-color: rgb(29, 19, 240);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(210, 210, 240);
  border: none;
  cursor: pointer;
}

.buttonSave:hover {
  background-color: rgb(91, 83, 243);
  color: ghostwhite;
}

.buttonSave:active {
  background-color: rgb(20, 15, 210);
  color: rgb(154, 154, 197);
}

@media screen and(max-width:60px) {
  .formData {
    width: 100%;
    max-width: none;
  }
}
